# Strings

In [3]:
# Strings can be in double quotations 
"Michael Jackson"

'Michael Jackson'

In [4]:
# Strings can be in single quotations
'Michael Jackson'

'Michael Jackson'

In [5]:
# Digits and spaces in strings
'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [6]:
# Special characters in string

'@#2_}&'

'@#2_}&'

In [7]:
# Print the string 
print('Hello!')

Hello!

In [8]:
# Assign string to variable
Name = "Michael Jackson"

# Indexing

In [9]:
# Print first element in the string 'Name'
print(Name[0])

M

In [10]:
# Print the element on the 13th index in the string
print(Name[13])

o

# Negative Indexing

In [11]:
# Print the last element in the string
print(Name[-1])

n

In [12]:
# Length of a string
len('Michael Jackson')

15

 # Slicing

In [14]:
# Take the slice on variable Name with only index 0 to index 3 
Name[0:4]

'Mich'

In [16]:
# Take the slice on variable Name with only index 8 to index 11
Name[8:12]

'Jack'

# Stride

In [17]:
# Get every second element 
Name[::2]

'McalJcsn'

In [18]:
# Get every second element in the range from index 0 to index 4 
Name[0:5:2]

'Mca'

In [22]:
# Concatenate two strings
Statement = Name + " is the best"
Statement

'Michael Jackson is the best'

In [25]:
# Print the string for 3 times*
3 * " Michael Jackson"

' Michael Jackson Michael Jackson Michael Jackson'

In [28]:
# Concatenate strings
Name = 'Michael Jackson'
Name = Name + " is the best"
Name

'Michael Jackson is the best'

# Escape Sequences

In [29]:
# New line escape sequence 
print(" Michael Jackson \n is the best")

 Michael Jackson
 is the best

In [30]:
# Tab escape sequence
print( "Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [31]:
# Include back slash in string
print(" Michael Jackson \\ is the best")

 Michael Jackson \ is the best

In [33]:
# r will tell python string will be dsiplayed raw 
print(r" Michael Jackson \ is the best")

 Michael Jackson \ is the best

# String Operations

In [34]:
# Convert all characters in string to upper case
A  = "Thriller is the sixth studio album"
print("Before upper:", A)
B = A.upper()
print("After upper:", B)

Before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [36]:
# Replace the old string with the new target substring
A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [37]:
# Find substring in string and it will display first index 
Name = "Michael Jackson"
Name.find('el')

5

In [38]:
#Find the substring in string
Name.find('Jack')

8

In [39]:
# If cannot find subtring in string
Name.find('jasdfasdasdf')

-1

# ----------

In [40]:
A = "1"

In [41]:
B = "2"
B

'2'

In [42]:
C = A + B
C

'12'

In [43]:
D = "ABCDEFG"
print(D[0:3])

ABC

In [1]:
E = 'clocrkr1e1c1t'
print(E[::2])

correct

In [2]:
print('\\')

\

In [6]:
print(r" \ ")

 \

In [9]:
F = 'you are wrong'
F.upper()

'YOU ARE WRONG'

In [11]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G

'Mary had a little lamb Little lamb, little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went, Mary went Everywhere that Mary went The lamb was sure to go'

In [12]:
G.find('snow')

95

In [13]:
G.replace('Mary', 'Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'