# Lists

In [1]:
# Create a list
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [2]:
# Print the elements on each index
print('the same element using negative and positive indexing: \n Positive:', L[0], '\n Negative:', L[-3])
print('the same element using negative and positive indexing: \n Positive:', L[1], '\n Negative:', L[-2])
print('the same element using negative and positive indexing: \n Positive:', L[2], '\n Negative:', L[-1])

the same element using negative and positive indexing:
 Positive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Positive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Positive: 1982
 Negative: 1982

In [3]:
# Sample List
L = ["Michael Jackson", 10.1, 1982, "MJ", 1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [4]:
# List Slicing 
L[3:5]

['MJ', 1]

In [5]:
# Use extend to add elements to list
L = ["Michael Jackson", 10.2]
L.extend(["pop", 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [6]:
# Use append to add elements to list 
L = ["Michael Jackson", 10.2]
L.append(["pop", 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [13]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [14]:
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [16]:
# Change element based on index
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [17]:
# Delete the element based on the index
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [18]:
# Split the string, default is by space
'hard rock'.split()

['hard', 'rock']

In [19]:
# Split the string by comma
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

# Copy and Clone List

In [23]:
# Copy (copy by reference) the list A
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [24]:
# Examine the copy by reference
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [25]:
# Clone (clone by value) the list A
B = A[:]
B

['banana', 10, 1.2]

In [26]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [27]:
a_list = [1, 'hello', [1,2,3], 'True']
a_list

[1, 'hello', [1, 2, 3], 'True']

In [29]:
a_list[1]

'hello'

In [30]:
a_list[1:4]

['hello', [1, 2, 3], 'True']

In [31]:
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']